In [ ]:
#1.Identify Customers with High Purchase Frequency
import pandas as pd

data = {'Customer_ID': [101, 102, 103, 101, 104, 102, 101, 105, 102, 103],
        'Purchase_Amount': [200, 150, 180, 220, 300, 200, 100, 400, 250, 300]}

df = pd.DataFrame(data)


Task:
Group customers by Customer_ID and count the number of purchases per customer.

Identify the top 3 customers with the highest number of purchases.

Expected Output:
    Customer Purchase Frequency:
   Customer_ID  Purchase_Count
0         101               3
1         102               3
2         103               2
3         104               1
4         105               1

Top 3 Frequent Customers:
   Customer_ID  Purchase_Count
0         101               3
1         102               3
2         103               2

In [1]:
#ANSWER
import pandas as pd

# Creating the DataFrame
data = {'Customer_ID': [101, 102, 103, 101, 104, 102, 101, 105, 102, 103],
        'Purchase_Amount': [200, 150, 180, 220, 300, 200, 100, 400, 250, 300]}

df = pd.DataFrame(data)
df

   Customer_ID  Purchase_Amount
0          101              200
1          102              150
2          103              180
3          101              220
4          104              300
5          102              200
6          101              100
7          105              400
8          102              250
9          103              300

In [9]:
#FINDING PURCHASE FREQUENCY

Purchase_Frequency=df.groupby('Customer_ID')['Purchase_Amount'].count().reset_index()
Purchase_Frequency=Purchase_Frequency.rename(columns={'Purchase_Amount':'Purchase_count'})
print("Customer Purchase Frequency:")
print(Purchase_Frequency)

Customer Purchase Frequency:
   Customer_ID  Purchase_count
0          101               3
1          102               3
2          103               2
3          104               1
4          105               1

In [10]:
#FINDING FREQUENT CUSTOMER

frequent_value=Purchase_Frequency.sort_values(by='Purchase_count',ascending=False).head(3)
print("Top 3 Frequent Customers:") 
print(frequent_value)

Top 3 Frequent Customers:
   Customer_ID  Purchase_count
0          101               3
1          102               3
2          103               2

In [ ]:
#2. Find Students with the Highest Average Exam Scores
import pandas as pd

data = {'Student_ID': [201, 202, 203, 201, 204, 202, 201, 205, 202, 203],
        'Exam_Score': [85, 90, 78, 88, 92, 87, 80, 95, 89, 84]}

df = pd.DataFrame(data)

Task:
Calculate the average exam score per student.

Display the top 3 students with the highest average scores.

Expected Output:

Average Exam Scores per Student:
   Student_ID  Avg_Score
0        201   84.33
1        202   88.67
2        203   81.00
3        204   92.00
4        205   95.00

Top 3 Students:
   Student_ID  Avg_Score
0        205   95.00
1        204   92.00
2        202   88.67

In [10]:
#ANSWER
import pandas as pd

# Creating the DataFrame
data = {'Student_ID': [201, 202, 203, 201, 204, 202, 201, 205, 202, 203],
        'Exam_Score': [85, 90, 78, 88, 92, 87, 80, 95, 89, 84]}

df = pd.DataFrame(data)
df

   Student_ID  Exam_Score
0         201          85
1         202          90
2         203          78
3         201          88
4         204          92
5         202          87
6         201          80
7         205          95
8         202          89
9         203          84

In [17]:
#FINDING AVERAGE EXAM SCORE PER STUDENT

average_exam_score=df.groupby('Student_ID')['Exam_Score'].mean().reset_index()
average_exam_score=average_exam_score.rename(columns={'Exam_Score':'Avg_Score'})
#print(f"Predicted Price for 2800 sqft:${result[0][0]:.0f}")
average_exam_score['Avg_Score']=average_exam_score['Avg_Score'].round(2)
print("Average Exam Scores per Student")
print(average_exam_score)

Average Exam Scores per Student
   Student_ID  Avg_Score
0         201      84.33
1         202      88.67
2         203      81.00
3         204      92.00
4         205      95.00

In [18]:
#FINDING HIGHEST AVERAGE

highest_avg_value=average_exam_score.sort_values(by='Avg_Score',ascending=False).head(3)
print("Top 3 Students:") 
print(highest_avg_value)

Top 3 Students:
   Student_ID  Avg_Score
4         205      95.00
3         204      92.00
1         202      88.67

In [ ]:
3. Predict House Prices Using Linear Regression
Dataset:'Exam_Score
import pandas as pd
'Exam_Score
data = {'Size_sqft': [1500, 1800, 2400, 3000, 3500, 4000],
        'Price': [300000, 350000, 450000, 550000, 650000, 700000]}

df = pd.DataFrame(data)
Task:
Train a Linear Regression model to predict house prices based on Size_sqft.

Predict the price of a house of size 2800 sqft.

Expected Output:
Predicted Price for 2800 sqft: $516491

In [17]:
#ANSWER FOR PRICE PREDICTION FOR HOUSE

import pandas as pd
import warnings 
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

# Creating the DataFrame
data = {'Size_sqft': [1500, 1800, 2400, 3000, 3500, 4000],
        'Price': [300000, 350000, 450000, 550000, 650000, 700000]}
df = pd.DataFrame(data)

#Split input and output
independent=df[['Size_sqft']]
dependent=df[['Price']]

#split training set,test set
x_train,x_test,y_train,y_test=train_test_split(independent, dependent, test_size=0.30, random_state=0)

#Create Model
regressor=LinearRegression()
regressor.fit(x_train,y_train)

y_pred=regressor.predict(x_test)

#Find Evaluation Matrices( r_score value)
r_score=r2_score(y_test,y_pred)
r_score

0.9692307692307692

In [21]:
import pickle
import warnings
warnings.filterwarnings("ignore")

#Give name to the file
filename="finalized_model_linear.sav"
pickle.dump(regressor,open(filename,'wb'))

#load the Model
loaded_model=pickle.load(open("finalized_model_linear.sav",'rb'))
result = loaded_model.predict([[2800]])
print(f"Predicted Price for 2800 sqft:${result[0][0]:.0f}")

Predicted Price for 2800 sqft:$523077

In [ ]:
4. Identify the Most Commonly Purchased Products
dataset:
import pandas as pd

data = {'Product_ID': ['P101', 'P102', 'P103', 'P101', 'P104', 'P102', 'P101', 'P105', 'P102', 'P103'],
        'Purchase_Count': [5, 3, 4, 2, 1, 6, 7, 3, 2, 5]}

df = pd.DataFrame(data)
Task:
Group products by Product_ID and sum their Purchase_Count.

Identify the top 3 most purchased products.

Expected Output:

Product Purchase Counts:
   Product_ID  Total_Purchases
0       P101               14
1       P102               11
2       P103                9
3       P104                1
4       P105                3

Top 3 Purchased Products:
   Product_ID  Total_Purchases
0       P101               14
1       P102               11
2       P103                9

In [1]:
#ANSWER
import pandas as pd

# Creating the DataFrame
data = {'Product_ID': ['P101', 'P102', 'P103', 'P101', 'P104', 'P102', 'P101', 'P105', 'P102', 'P103'],
        'Purchase_Count': [5, 3, 4, 2, 1, 6, 7, 3, 2, 5]}

df = pd.DataFrame(data)
df

  Product_ID  Purchase_Count
0       P101               5
1       P102               3
2       P103               4
3       P101               2
4       P104               1
5       P102               6
6       P101               7
7       P105               3
8       P102               2
9       P103               5

In [4]:
#FINDING PURCHASE COUNTS

purchase_count=df.groupby('Product_ID')['Purchase_Count'].sum().reset_index()
purchase_count=purchase_count.rename(columns={'Purchase_Count':'Total_Purchases'})
print("product Purchase counts:")
print(purchase_count)

product Purchase counts:
  Product_ID  Total_Purchases
0       P101               14
1       P102               11
2       P103                9
3       P104                1
4       P105                3

In [5]:
#FINDING FREQUENT CUSTOMER

frequent_value=purchase_count.sort_values(by='Total_Purchases',ascending=False).head(3)
print("Top 3 Purchased Products::") 
print(frequent_value)

Top 3 Purchased Products::
  Product_ID  Total_Purchases
0       P101               14
1       P102               11
2       P103                9

In [ ]:
5. Cluster Customers Based on Their Purchase Amounts
Dataset:
import pandas as pd

data = {'Customer_ID': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
        'Total_Spend': [500, 1500, 2000, 2500, 3000, 3500, 4000, 1000, 1200, 2700]}

df = pd.DataFrame(data)

Task:
Apply K-Means Clustering to segment customers into 3 clusters.

Print the cluster labels for each customer.

Expected Output:
Customer Clusters:
   Customer_ID  Total_Spend  Cluster_Label
0            1          500              1
1            2         1500              1
2            3         2000              2
3            4         2500              2
4            5         3000              2
5            6         3500              0
6            7         4000              0
7            8         1000              1
8            9         1200              1
9           10         2700              2

In [9]:
#ANSWER

import pandas as pd
from sklearn.cluster import KMeans
import warnings
warnings.filterwarnings("ignore")

# Creating the DataFrame
data = {'Customer_ID': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
        'Total_Spend': [500, 1500, 2000, 2500, 3000, 3500, 4000, 1000, 1200, 2700]}

df = pd.DataFrame(data)

# Applying K-Means Clustering
kmeans = KMeans(n_clusters=3, random_state=42, n_init=10)
df['Cluster_Label'] = kmeans.fit_predict(df[['Total_Spend']])

print("Customer Clusters:")
print(df)

Customer Clusters:
   Customer_ID  Total_Spend  Cluster_Label
0            1          500              0
1            2         1500              0
2            3         2000              2
3            4         2500              2
4            5         3000              2
5            6         3500              1
6            7         4000              1
7            8         1000              0
8            9         1200              0
9           10         2700              2