In [ ]:
#1.
Question 1:A retail store wants to identify customers who make frequent purchases. Given the dataset below, write a Python program to:
Group customers by their IDs.


Calculate the total purchase amount per customer.


Identify the top 3 customers with the highest purchase amounts.


Dataset:
data = {'Customer_ID': [101, 102, 103, 101, 104, 102, 101, 105, 102, 103],
        'Purchase_Amount': [200, 150, 180, 220, 300, 200, 100, 400, 250, 300]}

Expected Output:
Total Purchases per Customer:
   Customer_ID  Purchase_Amount
0          101              520
1          102              600
2          103              480
3          104              300
4          105              400

Top 3 Frequent Customers:
   Customer_ID  Purchase_Amount
1          102              600
0          101              520
2          103              480

In [3]:
#ANSWER
import pandas as pd
data = {'Customer_ID': [101, 102, 103, 101, 104, 102, 101, 105, 102, 103],
        'Purchase_Amount': [200, 150, 180, 220, 300, 200, 100, 400, 250, 300]}
#Create dataframe
df=pd.DataFrame(data)
print(df)

   Customer_ID  Purchase_Amount
0          101              200
1          102              150
2          103              180
3          101              220
4          104              300
5          102              200
6          101              100
7          105              400
8          102              250
9          103              300

In [12]:
#FINDING PURCHASE AMOUNT
#groupby is used to group one or more column based on their values
#reset_index give new default index after group the column.
total_purchase=df.groupby('Customer_ID')['Purchase_Amount'].sum().reset_index()
print("TOTAL PURCHASE")
print(total_purchase)

TOTAL PURCHASE
   Customer_ID  Purchase_Amount
0          101              520
1          102              600
2          103              480
3          104              300
4          105              400

In [18]:
#FINDING FREQUENT CUSTOMER
frequent_value=total_purchase.sort_values(by='Purchase_Amount',ascending=False).head(3)
print(frequent_value)

   Customer_ID  Purchase_Amount
1          102              600
0          101              520
2          103              480

In [ ]:
#2. Predicting House Prices with Linear Regression
A real estate company wants to predict house prices based on square footage. Write a Python program to:
Train a Linear Regression model.


Predict house prices for given test data.


Dataset:
data = {'Square_Feet': [1500, 2000, 2500, 3000, 3500],
        'Price': [300000, 400000, 500000, 600000, 700000]}

Test Data: [[1800], [2800]]
Expected Output:
Predicted Prices:
[360000. 560000.]

In [62]:
#ANSWER
import pandas as pd
import warnings 
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
data = {'Square_Feet': [1500, 2000, 2500, 3000, 3500],
        'Price': [300000, 400000, 500000, 600000, 700000]}
#Create dataframe
df=pd.DataFrame(data)

#Split input and output
independent=df[['Square_Feet']]
dependent=df[['Price']]

#split training set,test set
x_train,x_test,y_train,y_test=train_test_split(independent, dependent, test_size=0.30, random_state=0)

#Create Model
regressor=LinearRegression()
regressor.fit(x_train,y_train)

y_pred=regressor.predict(x_test)

#Find Evaluation Matrices( r_score value)
r_score=r2_score(y_test,y_pred)
r_score

1.0

In [63]:
import pickle
import warnings
warnings.filterwarnings("ignore")
#Give name to the file
filename="finalized_model_linear.sav"
pickle.dump(regressor,open(filename,'wb'))
#load the Model
loaded_model=pickle.load(open("finalized_model_linear.sav",'rb'))
result = loaded_model.predict([[1800],[2800]])
result

array([[360000.],
       [560000.]])

In [ ]:
#3:
Identifying Frequent Labels in a Dataset
A company wants to identify the top 3 most common categories in a dataset. Given the dataset below, write a Python program to:
Group the data by Category.


Count the total occurrences of each category.


Identify the top 3 most frequent categories.


Dataset:
data = {'Category': ['A', 'B', 'C', 'A', 'D', 'B', 'A', 'E', 'B', 'C', 'C', 'A'],
        'Value': [10, 15, 20, 30, 25, 18, 22, 40, 35, 50, 45, 15]}

Expected Output:

Total Occurrences per Category:
  Category  Count
0        A      4
1        B      3
2        C      3
3        D      1
4        E      1

Top 3 Frequent Categories:
  Category  Count
0        A      4
1        B      3
2        C      3

In [12]:
#ANSWER
import pandas as pd
data = {'Category': ['A', 'B', 'C', 'A', 'D', 'B', 'A', 'E', 'B', 'C', 'C', 'A'],
        'Value': [10, 15, 20, 30, 25, 18, 22, 40, 35, 50, 45, 15]}
#Create dataframe
df=pd.DataFrame(data)
print(df)

   Category  Value
0         A     10
1         B     15
2         C     20
3         A     30
4         D     25
5         B     18
6         A     22
7         E     40
8         B     35
9         C     50
10        C     45
11        A     15

In [14]:
#Find Occurrences on each Category
total_Occurrences=df.groupby('Category')['Value'].count().reset_index()
print("Total Occurrences per Category:")
print(total_Occurrences)

Total Occurrences per Category:
  Category  Value
0        A      4
1        B      3
2        C      3
3        D      1
4        E      1

In [15]:
#FINDING FREQUENT VALUE
frequent_value=total_Occurrences.sort_values(by='Value',ascending=False).head(3)
print(frequent_value)

  Category  Value
0        A      4
1        B      3
2        C      3

In [ ]:
#4.
Predicting Missing Values Using Mean Imputation
A dataset contains missing values in the Age column. Write a Python program to:
Replace missing values with the mean of the column.


Display the updated DataFrame.


Dataset:
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
        'Age': [25, 30, None, 35, None]}

Expected Output:

Original Data:
     Name   Age
0  Alice  25.0
1    Bob  30.0
2 Charlie   NaN
3  David  35.0
4    Eve   NaN

Data after Imputation:
     Name   Age
0  Alice  25.0
1    Bob  30.0
2 Charlie  30.0
3  David  35.0
4    Eve  30.0

In [60]:
#ANSWER
import pandas as pd
import warnings
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
        'Age': [25, 30, None, 35, None]}
##Create dataframe
df=pd.DataFrame(data)
df

      Name   Age
0    Alice  25.0
1      Bob  30.0
2  Charlie   NaN
3    David  35.0
4      Eve   NaN

In [61]:
#Fill Missing Values using Mean
import warnings
warnings.filterwarnings("ignore")
missing_values=df["Age"].fillna(df["Age"].mean(),inplace=True)
df

      Name   Age
0    Alice  25.0
1      Bob  30.0
2  Charlie  30.0
3    David  35.0
4      Eve  30.0

In [ ]:
# 5: 
Implementing a Simple Linear Regression Model
You are given a dataset with Experience (years) and Salary ($). Write a Python program to:
Train a Linear Regression model.


Predict the salary for an individual with 6 years of experience.


Dataset:
import pandas as pd

data = {'Experience': [1, 2, 3, 4, 5], 
        'Salary': [30000, 35000, 40000, 45000, 50000]}
df = pd.DataFrame(data)

Expected Output (Example):

Predicted Salary for 6 years of experience: $55000


data = {'word_count': [100, 150, 200, 120, 180, 220], 
        'is_spam': ['ham', 'spam', 'spam', 'ham', 'spam', 'spam']}
df = pd.DataFrame(data)

Expected Output (Example):
Prediction for email with 200 words: Spam

In [48]:
#ANSWER FOR SALARY PREDICTION
import pandas as pd
import warnings 
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

data = {'Experience': [1, 2, 3, 4, 5], 
        'Salary': [30000, 35000, 40000, 45000, 50000]}
df=pd.DataFrame(data)

#Split input and output
independent=df[['Experience']]
dependent=df[['Salary']]

#split training set,test set
x_train,x_test,y_train,y_test=train_test_split(independent, dependent, test_size=0.30, random_state=0)

#Create Model
regressor=LinearRegression()
regressor.fit(x_train,y_train)

y_pred=regressor.predict(x_test)

#Find Evaluation Matrices( r_score value)
r_score=r2_score(y_test,y_pred)
r_score

1.0

In [49]:
import pickle
import warnings
warnings.filterwarnings("ignore")
#Give name to the file
filename="finalized_model_linear.sav"
pickle.dump(regressor,open(filename,'wb'))
#load the Model
loaded_model=pickle.load(open("finalized_model_linear.sav",'rb'))
result = loaded_model.predict([[6]])
print(f"Predicted Salary for 6 yrs of experience:${result[0][0]:.2f}")
#result[0][0] gives first element of first list  inside the result
#.2f gives two decimal places

Predicted Salary for 6 yrs of experience:$55000.00

In [50]:
#ANSWER FOR FINDING SPAM
import pandas as pd
import warnings 
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

data = {'word_count': [100, 150, 200, 120, 180, 220], 
        'is_spam': ['ham', 'spam', 'spam', 'ham', 'spam', 'spam']}
df=pd.DataFrame(data)
df

   word_count is_spam
0         100     ham
1         150    spam
2         200    spam
3         120     ham
4         180    spam
5         220    spam

In [51]:
df=pd.get_dummies(df,columns=['is_spam'],drop_first=True)
df

   word_count  is_spam_spam
0         100         False
1         150          True
2         200          True
3         120         False
4         180          True
5         220          True

In [52]:
#Split input and output
independent=df[['word_count']]
dependent=df[['is_spam_spam']]

#split training set,test set
x_train,x_test,y_train,y_test=train_test_split(independent, dependent, test_size=0.30, random_state=0)

#Create Model
regressor=LinearRegression()
regressor.fit(x_train,y_train)

y_pred=regressor.predict(x_test)

In [59]:
import pickle
import warnings
warnings.filterwarnings("ignore")
#Give name to the file
filename="finalized_model_linear.sav"
pickle.dump(regressor,open(filename,'wb'))
#load the Model
loaded_model=pickle.load(open("finalized_model_linear.sav",'rb'))
result = loaded_model.predict([[200]])
if result[0]>0.5:
   print("Prediction for email with 200 words:spam")
else:
    print("ham")
#Here 0.5 is a decision point .False->0,True->1.If the result is > than 0.5,it is closer to 1 so the mail is a "SPAM" otherwise "HAM"

Prediction for email with 200 words:spam