In [ ]:
#1.Find the error in the following Python code:
import math
print(Math.sqrt(16))

In [1]:
import math
print(math.sqrt(16))
#Ans:Put small letter in builtin function

4.0

In [ ]:
#2.Find the error in the following Python code:
def my_function():
    x += 5
    print(x)

x = 10
my_function()

In [11]:
def my_function():
    x += 5
    print(x)
    x = 10
    return(x)
    my_function()

#Ans:UnboundLocalError: cannot access local variable 'x' where it is not associated with a value

In [ ]:
#3.
x = 5
if x = 10:
    print("x is 10")

In [14]:
x = 5
if x == 10:
 print("x is 10")
#Ans:put comparision operator

In [ ]:
#4.
numbers = [5, 3, 8, 2]
print(numbers.sort())

In [19]:
import numpy as np
numbers = [5, 3, 8, 2]
x=np.sort(numbers)
print(x)
#Ans:Import proper header file

[2 3 5 8]

In [ ]:
#5.
def square(n):
    n * n

print(square(4))

In [23]:
#5.
def square(n):
  x= n * n
  return(x)  
square(4)

16

In [ ]:
#6.
my_tuple = (1, 2, 3)
my_tuple[1] = 5

In [26]:
#6.
my_tuple =[1, 2, 3]
my_tuple[1] = 5
#Ans:When we use list put square bracket

In [ ]:
#7.
name = "Alice"
age = 25
print("My name is %s and I am %d years old" % (name))

In [4]:
#7.
name = "Alice"
age = 25
print("My name is %s" %name, "and I am %d years old" %age )

My name is Alice and I am 25 years old

In [ ]:
#8.
a = [1, 2, 3]
b = [1, 2, 3]
if a is b:
    print("Lists are equal")

In [30]:
#8.
a = [1, 2, 3]
b = [1, 2, 3]
if a == b:
    print("Lists are equal")
    
#Ans:Put proper syntax in if condition

Lists are equal

In [ ]:
#9.
for i in range(5, 1):
    print(i)

In [7]:
#9.
for i in range(5, 1):
    print(i)
#Ans:In range fun 5 is start value,1 is stop valu but default incerment value is 1.Moreover,when we executing for loop it automaticaally incerment by 1 so the 
#     values starting from 5,6,7 .Put -1 the output is 5,4,3,2

In [11]:
for i in range(5, 1,-1):
    print(i)

5
4
3
2

In [ ]:
#10.
student = {"name": "John", "age": 20}
print(student[name])

In [2]:
#10.
student = {"name": "John", "age": 20}
print(student["name"])
#Ans:Put double quoats

John